# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
tensorflow
matplotlib


# API
gcsfs
google-cloud-storage
fastapi

# utilities
six>=1.14
joblib
memoized-property
termcolor
uvicorn
